@charset "utf-8";
$primary: #047aed;
$family-sans-serif: 'Nunito', sans-serif;
$navbar-item-hover-background-color: transparent;
$modal-background-background-color: rgba(53, 52, 52, 0.86);
@import "~bulma/sass/utilities/_all";
@import "~bulma";

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.navbar {
    border-bottom: 1px solid $white-ter;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.has-text-weight-lighter {
    font-weight: 200 !important;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.hero {
    .image {
        img {
            @include from($desktop) {
                transform: translateX(5rem);
            }
        }
    }
}

.media {
    align-items: center;

    i {
        font-size: 48px;
    }
}
