<template>
    <button @click="deleteCustomer" class="btn btn-sm float-right btn-danger">Delete Customer</button>
</template>

<script>
export default {
    name: "delete-tweet-button",
    props: {
        author_id: '',
        tag_id: ''
    },
    methods: {
        deleteCustomer() {
            this.$swal({
                icon: 'warning',
                title: 'Warning!!!',
                text: 'Are you sure about deleting the customer!',
                confirmButtonText: 'Delete!',
                showCancelButton: true,
                cancelButtonText: 'Cancel'
            }).then(() => {
                this.$axios.delete('/dashboard/tweet', {
                    data: {
                        author_id: this.author_id,
                        tag_id: this.tag_id
                    }
                }).then(response => {
                    this.$swal({
                        icon: 'success',
                        title: 'Successfull!',
                        text: 'This customer is successfully deleted.'
                    }).then(value => {
                        console.log(value)
                        if (value) {
                            setTimeout(() => {
                                window.location.href = 'http://localhost:8000/dashboard/customer-care';
                            }, 1000)
                        }
                    })
                })
            })
        }
    }
}
</script>

<style scoped>

</style>
