<template>
    <button @click="deleteTag" class="btn btn-sm float-right btn-danger">Delete Tag</button>
</template>

<script>
export default {
    name: "delete-button",
    props: {
        tag: ''
    },
    methods: {
        deleteTag() {
            this.$swal({
                icon: 'warning',
                title: 'Warning!!!',
                text: 'Are you sure about deleting the tag!',
                confirmButtonText: 'Delete!',
                showCancelButton: true,
                cancelButtonText: 'Cancel'
            }).then(() => {
                this.$axios.delete('/dashboard/tag', {
                    data: {
                        tag: this.tag
                    }
                }).then(response => {
                    this.$swal({
                        icon: 'success',
                        title: 'Successfull!',
                        text: 'This tag is successfully deleted.'
                    }).then(value => {
                        console.log(value)
                        if (value) {
                            setTimeout(() => {
                                window.location.href = 'http://localhost:8000/dashboard';
                            }, 1000)
                        }
                    })
                })
            })
        }
    }
}
</script>

<style scoped>

</style>
