<template>
    <form v-on:submit.prevent="search" class="form-inline my-2 my-lg-0 search">
        <input v-model="term" class="form-control mr-sm-2" type="search"
               placeholder="Search for products, services, projects...">
    </form>
</template>

<script>
export default {
    name: 'search-box',
    data() {
        return {
            term: ''
        }
    },
    methods: {
        search() {
            this.$axios.post('/dashboard/tag', {
                term: this.term
            }).then(response => {
                const tag_id = response.data.id
                this.$axios.post('http://localhost:3000/search', {
                    term: this.term,
                    tag: tag_id
                }).then(response => {
                    window.location.href = `http://localhost:8000/dashboard/tag/${tag_id}`
                })
            });
        },

    }
}
</script>
