<template>
    <button @click="search" class="btn btn-sm float-center btn-success">Make A New Search</button>
</template>

<script>
export default {
    name: "search-button",
    props: {
        term: ''
    },
    methods: {
        search() {
            this.$axios.post('/dashboard/tag', {
                term: this.term
            }).then(response => {
                const tag_id = response.data.id
                this.$axios.post('http://localhost:3000/search', {
                    term: this.term,
                    tag: tag_id
                }).then(response => {
                    window.location.href = `http://localhost:8000/dashboard/tag/${tag_id}`
                })
            });
        },

    }
}
</script>

<style scoped>

</style>
