<template>
    <div>
        <h5>The Emotions of Recent Tweets:</h5>
        <apexchart class="mb-5" width="600" type="donut" :options="chart1.options"
                   :series="chart1.series"></apexchart>
        <h5>The Emotions of All Tweets:</h5>
        <apexchart class="mb-5" width="600" type="donut" :options="chart2.options"
                   :series="chart2.series"></apexchart>
        <h5>The Emotions of All Tweets By Date:</h5>
        <apexchart v-if="chart3.ready" class="mb-5" type="bar" :options="chart3.options"
                   :series="chart3.series"></apexchart>

        <h5 class="text-center">Most Used Words In Positive Tweets</h5>
        <vue-word-cloud
            class="mx-auto mb-5"
            style="height: 480px;width: 640px;"
            :words="positiveWords"
            :color="([, weight]) => weight > 10 ? '#064E3B' : weight > 5 ? '#059669' : weight > 2 ? '#34D399' : '#A7F3D0'"
            font-family="Poppins"
            :enter-animation="{opacity: 0,transform: 'scale3d(0.3,0.3,0.3)'}"
        >
            <template slot-scope="{text, weight, word}">
                <div :title="weight" style="cursor: pointer;">
                    {{ text }}
                </div>
            </template>
        </vue-word-cloud>

        <h5 class="text-center">Most Used Words In Negative Tweets</h5>
        <vue-word-cloud
            class="mx-auto mb-5"
            style="height: 480px;width: 640px;"
            :words="negativeWords"
            :color="([, weight]) => weight > 10 ? '#7F1D1D' : weight > 5 ? '#DC2626' : weight > 2 ? '#F87171' : '#FECACA'"
            font-family="Poppins"
            :enter-animation="{opacity: 0,transform: 'scale3d(0.3,0.3,0.3)'}"
        >
            <template slot-scope="{text, weight, word}">
                <div :title="weight" style="cursor: pointer;">
                    {{ text }}
                </div>
            </template>
        </vue-word-cloud>
    </div>
</template>

<script>
import {bus} from "../app";

export default {
    name: "termCharts",
    data() {
        return {
            positiveWords: [],
            negativeWords: [],
            chart1: {
                options: {
                    legend: {
                        position: 'bottom'
                    },
                    labels: ['Positive', 'Negative', 'Neutral'],
                    colors: ['#28a745', '#eb3f3f', '#5780f7'],
                    noData: {
                        text: 'There is no data available',
                        align: 'center',
                        verticalAlign: 'middle',
                        offsetX: 0,
                        offsetY: 0
                    }
                },
                series: []
            },
            chart2: {
                options: {
                    legend: {
                        position: 'bottom'
                    },
                    labels: ['Positive', 'Negative', 'Neutral'],
                    colors: ['#28a745', '#eb3f3f', '#5780f7'],
                    noData: {
                        text: 'There is no data available',
                        align: 'center',
                        verticalAlign: 'middle',
                        offsetX: 0,
                        offsetY: 0
                    }
                },
                series: []
            },
            chart3: {
                ready: false,
                options: {
                    xaxis: {
                        categories: []
                    },
                    grid: {
                        show: false
                    },
                    colors: ['#28a745', '#eb3f3f', '#5780f7'],
                    chart: {
                        type: 'bar',
                        stacked: true,
                        stackType: '100%'
                    },
                    stroke: {
                        width: 1,
                        colors: ['#fff']
                    },
                    legend: {
                        position: 'bottom',
                        horizontalAlign: 'left',
                        offsetX: 40
                    }
                },
                series: [
                    {
                        name: 'Positive Scores',
                        data: []
                    },
                    {
                        name: 'Negative Scores',
                        data: []
                    },
                    {
                        name: 'Neutral Scores',
                        data: []
                    }
                ]
            }
        }
    },
    props: {
        tag_id: ''
    },
    created() {
        this.getChart1()
        this.getChart2()
        this.getChart3()
        this.getPositiveWords()
        this.getNegativeWords()

        bus.$on('optimized', () => {
            this.getChart1()
            this.getChart2()
            this.getChart3()
            this.getPositiveWords()
            this.getNegativeWords()
        })
    },
    methods: {
        getChart1() {
            this.$axios.post('/dashboard/chart1', {
                tag_id: this.tag_id
            }).then(response => {
                this.chart1.series = response.data
            })
        },
        getChart2() {
            this.$axios.post('/dashboard/chart2', {
                tag_id: this.tag_id
            }).then(response => {
                this.chart2.series = response.data
            })
        },
        getChart3() {
            this.$axios.post('/dashboard/chart3', {
                tag_id: this.tag_id
            }).then(response => {
                this.chart3.series[0].data = response.data.positive_count
                this.chart3.series[1].data = response.data.negative_count
                this.chart3.series[2].data = response.data.neutral_count
                this.chart3.options.xaxis.categories = response.data.dates
                this.chart3.ready = true
            })
        },
        getPositiveWords() {
            this.$axios.get(`/dashboard/positive-word-count?tag_id=${this.tag_id}`)
                .then(response => {
                    this.positiveWords = response.data
                })
        },
        getNegativeWords() {
            this.$axios.get(`/dashboard/negative-word-count?tag_id=${this.tag_id}`)
                .then(response => {
                    this.negativeWords = response.data
                })
        },
    }
}
</script>

<style scoped>

</style>
