<template>
    <div class="card">
        <div class="score" :class="score"></div>
        <div class="card-body">
            <div class="media m-b-sm">
                <img src="https://hips.hearstapps.com/digitalspyuk.cdnds.net/17/13/1490989538-egg.jpg"
                     class="w-xs mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">{{ tweet.author_name }}
                        <a target="_blank"
                           :href="`https://twitter.com/${ tweet.author_nick }`"><small>@{{
                                tweet.author_nick
                            }}</small></a>
                        -
                        <small>{{ tweet.published_at }}</small>
                    </h5>
                    <p>{{ tweet.content }}</p>
                    <p>
                        <a :href="`https://twitter.com/${ tweet.author_nick }/status/${ tweet.tweet_id }`"
                           target="_blank">
                            <small>Go To Tweet</small>
                        </a>
                    </p>
                </div>
            </div>
            <div>
                <span>Status of tweet:</span>
                <div v-if="tweet.total_score === null && tweet.variance !== null" class="">
                    <div class="spinner-grow text-warning" role="status">
                        <span class="sr-only">Optimizing...</span>
                    </div>
                    Optimizing...
                </div>
                <div v-if="tweet.total_score === null && tweet.variance === null" class="">
                    <div class="spinner-grow text-primary " role="status">
                        <span class="sr-only">Analyzing...</span>
                    </div>
                    Analyzing...
                </div>
                <div v-if="tweet.total_score !== null && tweet.variance !== null" class="">
                    <i class="fas fa-check text-success"></i>
                    Analyzed...
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { bus } from '../app'

export default {
    name: "tweet",
    props: {
        tweet: {}
    },
    mounted() {
        if (this.tweet.variance === null) {
            this.calculate()
        }

        if (this.optimizeable) {
            this.optimize()
        }
    },
    updated() {
        if (this.optimizeable) {
            this.optimize()
        }
    },
    computed: {
        optimizeable() {
            return this.tweet.total_score === null && this.tweet.variance !== null
        },
        score() {
            if (this.tweet.total_score === null) {
                return ''
            }

            if (this.tweet.total_score > 0.2) {
                return 'bg-success'
            }

            if (this.tweet.total_score < -0.2) {
                return 'bg-danger'
            }

            return 'bg-info'
        }
    },
    methods: {
        calculate() {
            this.$axios.post('http://localhost:3000/calculate', {
                id: this.tweet.id
            }).then(response => {
                this.refreshTweet()
            })
        },
        refreshTweet() {
            this.$axios.post('/dashboard/tweet', {
                id: this.tweet.id
            }).then(response => {
                this.tweet = response.data;
            })
        },
        optimize() {
            this.$axios.post('http://localhost:3000/optimize', {
                id: this.tweet.id,
                term: this.tweet.term
            }).then(response => {
                this.refreshTweet()
                bus.$emit('optimized')
            })
        }
    }
}
</script>

<style lang="scss" scoped>
.score {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    right: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
</style>
