<template>
    <div class="row">
        <div class="col-md-12 text-center w-100 mb-5">
            <button class="btn btn-primary" @click="findUserTweets">Search Customer History</button>
        </div>
        <div class="col-md-12 mb-5">
            <div v-if="loaded === 'searching'" class="text-center w-100">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Searching...</span>
                </div>
                <h5>
                    Searching Customer History...
                </h5>
            </div>
            <div v-if="loaded === 'calculating'" class="text-center w-100">
                <div class="spinner-border text-danger" role="status">
                    <span class="sr-only">Calculating...</span>
                </div>
                <h5>
                    Calculating Scores...
                </h5>
            </div>
            <div v-if="loaded === 'optimizing'" class="text-center w-100">
                <div class="spinner-border text-success" role="status">
                    <span class="sr-only">Optimizing...</span>
                </div>
                <h5>
                    Optimizing Scores...
                </h5>
            </div>
            <div v-if="loaded === 'full'">
                <h5 class="text-center">
                    Visualized Customer History Chart
                </h5>
                <apexchart type="line" :options="chart.options" :series="chart.series"></apexchart>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name: "user-detail",
    props: {
        author_nick: '',
        term: '',
        tag: '',
        dates: {
            type: Array
        }
    },
    data() {
        return {
            tweets: [],
            loaded: 'full',
            chart: {
                series: [{
                    name: 'Positive Scores',
                    type: 'column',
                    data: []
                }, {
                    name: 'Negative Scores',
                    type: 'line',
                    data: []
                }],
                options: {
                    chart: {
                        type: 'line',
                    },
                    colors: ['#28a745', '#eb3f3f'],
                    stroke: {
                        width: [0, 4],
                        curve: 'smooth'
                    },
                    dataLabels: {
                        enabled: true,
                        enabledOnSeries: [1]
                    },
                    labels: [],
                    xaxis: {
                        type: 'datetime',
                        labels: {
                            rotate: -45,
                            format: 'yyyy MMM'
                        }
                    },
                    yaxis: [{
                        title: {
                            text: 'Scores Count',
                        },

                    }]
                },
            }
        }
    },
    created() {
        this.getUserTweets()
    },
    methods: {
        findUserTweets() {
            this.loaded = 'searching'
            this.$axios.post('http://localhost:3000/search/user', {
                term: this.term,
                tag: this.tag,
                author_nick: this.author_nick,
                dates: this.dates
            }).then(response => {
                const newTweets = response.data
                if (newTweets.length > 0) {
                    this.calculate()
                } else {
                    this.getUserTweets()
                }
            })
        },
        getUserTweets() {
            this.loaded = 'optimizing'
            this.$axios.post('/dashboard/customer-care/customer/history', {
                tag_id: this.tag,
                author: this.author_nick
            }).then(response => {
                this.chart.options.labels = response.data.dates
                this.chart.series[0].data = response.data.positive_count
                this.chart.series[1].data = response.data.negative_count

                setTimeout(() => {
                    this.loaded = 'full'
                }, 4000)
            })
        },
        calculate() {
            this.loaded = 'calculating'
            this.$axios.post('http://localhost:3000/tag', {
                tag_id: this.tag,
                author_nick: this.author_nick
            }).then(response => {
                this.getUserTweets()
            })
        }
    }
}
</script>

<style lang="css">

</style>
